body {
    background-image: url(Imagenaes/CAPA\ 3.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
