body {
    background-image: url(Imagenaes/caratulo\ de\ inicio.bmp);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

